<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="fi.haapatalo.android.eyeball"
      android:versionCode="1"
      android:versionName="1.0.0">
    <uses-sdk android:minSdkVersion="25" android:targetSdkVersion="25" />

    <!-- These permissions are used by Google VR SDK to get the best Google VR headset profiles. !-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!--
      The app has largeHeap enabled. Since 2k stereo images (2048px wide, 1024px
      high, 2 images, 4 bytes per pixel) only use 16M of RAM, this option isn't
      required for most cases. However, applications that open larger images or
      handle multiple panoramas might run out of memory in the default
      configuration.
    -->
    <application android:label="Eyeball"
                 android:icon="@drawable/eyeball_icon"
                 android:largeHeap="true"
                 android:allowBackup="false"
                 android:theme="@android:style/Theme.Holo.Light">
        <!-- This demo is singleTask since it makes launching via custom adb intents easier. -->
        <activity android:name="fi.haapatalo.android.eyeball.EyeballViewerActivity"
          android:launchMode="singleTask">
            <intent-filter>
                <!-- Primary intent when launching from the home screen -->
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="com.google.intent.category.CARDBOARD" />
            </intent-filter>
        </activity>
    </application>

</manifest>
